.register-form .form-container {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.register-form .form-image {
    width: 40%; /* Adjust as needed */
    overflow: hidden; /* Hide overflow if needed */
    display: flex; /* Center image vertically */
}

.register-form .register-form .form-image img {
    height: 100%; /* Make the image fill the container height */
    width: auto; /* Keep aspect ratio */
    object-fit: cover; /* Cover the entire area */
}

.register-form .register-form .form-content {
    padding: 20px;
    background-color: white;
    flex: 1; /* Allow the content section to take up equal space */
}

.register-form .form-group {
    margin-bottom: 15px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
}

.register-form input {
    width: 140%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button {
    width: 140%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.register-form button:hover {
    background-color: #0056b3;
}

.register-form p {
    margin-left: 150px;
    font-size: 18px;
    margin-top: 10px;
}

.register-form a {
    color: #007bff;
    text-decoration: none;
}

.register-form a:hover {
    text-decoration: underline;
}
