.product-detail-form {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.product-detail-form .product-image-detail {
  width: 60%;
  position: relative;
  margin-top: 35px;
}

.product-detail-form .product-image-detail img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.product-detail-form .product-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-detail-form .product-title {
  font-size: 24px;
  font-weight: bold;
}

.product-detail-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price-quantity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-detail-form .product-price {
  margin-right: 40px;
  font-size: 25px;
  color: black;
}

.product-detail-form .product-quantity {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-detail-form .product-quantity label {
  font-size: 20px;
  font-weight: bold;
}

.product-detail-form .quantity-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-detail-form .quantity-input input {
  width: 60px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  border: 2px solid #4a90e2; 
  border-radius: 10px;
}

.product-detail-form .add-to-cart-btn {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.product-detail-form .add-to-cart-btn:hover {
  background-color: #357abd;
}


.product-detail-form .product-description h2 {
  font-size: 20px;
  font-weight: bold;
}

.product-detail-form .product-description p {
  color: #666;
  line-height: 1.6;
  font-size: 18px;
}
